//Fonts
$font_axioforma: Axiforma;
$font_novecento: Novecento;
$font_symbols: WebSymbolsRegular;


//colors
$color_primary_green: #004030;
$color_secondary_green: #005923;
$color_tertiary_green: #006a28;

$color_background: #fdbd2d;
